In [2]:
import os, sys

cwd = os.getcwd()
module_path = os.path.abspath(os.path.join('..'))

sys.path.insert(0, os.path.join(cwd, "../"))
sys.path.insert(0, os.path.join(cwd, "../student_life/"))
sys.path.insert(0, os.path.join(cwd, "../student_life/src/"))
sys.path.insert(0, os.path.join(cwd, "../student_life/src/bin/"))

import copy
from scipy import stats
import pickle
import importlib
import src.utils.student_utils as student_utils
from collections import defaultdict
from sklearn.metrics.pairwise import euclidean_distances as euclidean_distance

import src.definitions as definitions
import pandas as pd
import numpy as np
from IPython.display import display
from src.data_manager import student_life_var_binned_data_manager
importlib.reload(student_life_var_binned_data_manager)
importlib.reload(student_utils)

import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline  

fig_loc = "/Users/nsimsiri/Desktop/histograms"
print(module_path)
cov_path = module_path + "/data/surveys_and_covariates"
print(cov_path)

Student ID couldn't be converted to Integer!
/Users/nsimsiri/Documents/code/ml/MultiRes/student_life
/Users/nsimsiri/Documents/code/ml/MultiRes/student_life/data/surveys_and_covariates

/Users/nsimsiri/Documents/code/ml/MultiRes/student_life/notebooks/../src/utils/read_utils.py:11: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  yaml_file = yaml.load(ymlfile)

In [10]:
data = {}
for i, path in enumerate(os.listdir(cov_path)):
    data[i] = pd.read_csv(cov_path + "/" + path)
    print(i, path)

0 high_lelvel_aggregated_data.csv
1 processed_student_deadlines.csv

In [12]:
agg = data[0]
display(agg[:10])

,student_id,avg_hours_slept,mode_sleep_rating,avg_dead_line_per_week,E_pre,A_pre,C_pre,N_pre,O_pre,E_post,A_post,C_post,N_post,O_post
0,1,7.222222,1.592593,0.909091,62.5,75.555556,88.888889,55.0,78.0,60.0,75.555556,84.444444,57.5,74.0
1,2,7.760000,2.000000,1.090909,42.5,60.000000,84.444444,70.0,64.0,37.5,60.000000,77.777778,65.0,60.0
2,4,6.515152,2.060606,0.636364,47.5,62.222222,53.333333,82.5,58.0,55.0,60.000000,53.333333,92.5,62.0
3,5,7.400000,1.600000,1.545455,62.5,75.555556,88.888889,55.0,66.0,60.0,75.555556,84.444444,47.5,68.0
4,7,7.235294,1.882353,1.818182,62.5,84.444444,75.555556,45.0,46.0,65.0,82.222222,62.222222,57.5,54.0
5,8,7.000000,1.902439,1.636364,52.5,75.555556,84.444444,65.0,66.0,NaN,NaN,NaN,NaN,NaN
6,9,8.000000,1.666667,0.636364,47.5,91.111111,53.333333,42.5,66.0,52.5,95.555556,62.222222,40.0,72.0
7,10,7.840909,2.113636,1.636364,40.0,26.666667,95.555556,67.5,72.0,45.0,26.666667,100.000000,62.5,80.0
8,12,7.450000,1.750000,2.454545,57.5,71.111111,73.333333,57.5,68.0,NaN,NaN,NaN,NaN,NaN
9,14,6.966667,1.666667,2.272727,65.0,73.333333,66.666667,50.0,66.0,65.0,77.777778,73.333333,45.0,68.0

In [13]:
dead = data[1]
display(dead)

,Unnamed: 0,1,2,3,4,5,7,8,9,10,...,47,49,50,51,52,53,54,57,58,59
0,2013-03-27,0,0,0,0,0,0,0,0,0,...,0,2,0,0,0,0,0,0,0,0
1,2013-03-28,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,2013-03-29,0,0,0,0,0,0,0,0,0,...,0,2,0,0,0,0,1,0,0,1
3,2013-03-30,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2013-03-31,0,0,0,0,1,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
5,2013-04-01,0,0,0,0,0,1,0,0,0,...,1,2,1,0,0,0,0,1,0,2
6,2013-04-02,0,1,0,0,0,1,0,0,0,...,0,1,0,1,0,0,0,0,0,0
7,2013-04-03,0,0,0,0,0,0,0,0,0,...,0,2,0,0,0,0,1,0,0,0
8,2013-04-04,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
9,2013-04-05,0,0,0,0,0,0,0,0,0,...,0,2,0,0,0,0,1,0,0,2
10,2013-04-06,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,2013-04-07,0,0,0,0,1,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
12,2013-04-08,1,1,2,1,1,2,1,1,1,...,2,3,2,1,1,1,1,2,1,3
13,2013-04-09,0,0,0,0,0,0,1,0,0,...,0,1,0,1,0,0,0,0,0,1
14,2013-04-10,0,0,1,0,1,0,0,0,0,...,0,2,0,0,0,0,1,0,0,1
15,2013-04-11,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
16,2013-04-12,0,0,0,0,0,0,1,0,0,...,0,2,0,0,0,0,1,0,0,2
17,2013-04-13,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,2013-04-14,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,2013-04-15,1,1,1,1,1,2,1,1,1,...,2,3,2,1,1,1,1,2,1,3
20,2013-04-16,0,1,0,0,1,1,0,0,1,...,0,1,0,0,1,0,0,0,0,1
21,2013-04-17,0,0,1,0,0,0,0,0,1,...,0,2,0,0,0,0,2,0,0,1
22,2013-04-18,0,0,0,0,0,0,0,0,0,...,0,2,0,0,0,0,0,0,0,1
23,2013-04-19,0,0,1,0,0,0,0,0,0,...,0,2,0,0,0,0,1,0,0,2
24,2013-04-20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,2013-04-21,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,2013-04-22,1,1,1,1,1,2,2,1,1,...,2,3,2,1,1,1,1,2,1,3
27,2013-04-23,0,0,0,0,0,0,1,0,0,...,0,1,0,1,0,0,0,0,0,1
28,2013-04-24,1,0,0,0,0,0,0,0,0,...,0,2,0,0,0,0,1,0,0,0
29,2013-04-25,0,0,0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41,2013-05-07,1,1,1,1,2,1,2,1,2,...,1,2,1,1,2,1,1,1,1,2
42,2013-05-08,0,0,0,0,0,0,0,0,1,...,0,2,0,0,0,0,1,0,0,1
43,2013-05-09,0,0,0,0,0,0,0,0,0,...,0,2,0,0,0,0,0,0,0,1
44,2013-05-10,0,0,0,0,0,0,0,0,0,...,0,2,0,0,0,0,2,0,0,2
45,2013-05-11,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
46,2013-05-12,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
47,2013-05-13,1,1,1,1,1,1,1,1,1,...,1,3,1,1,1,1,1,1,1,2
48,2013-05-14,0,1,0,0,1,1,0,0,1,...,0,1,0,0,1,0,0,0,0,1
49,2013-05-15,0,0,0,0,0,1,0,0,0,...,1,2,1,0,0,0,2,1,0,0
50,2013-05-16,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,2
51,2013-05-17,0,0,0,0,0,0,0,0,0,...,0,2,0,0,0,0,1,0,0,2
52,2013-05-18,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
53,2013-05-19,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
54,2013-05-20,0,0,0,0,0,0,0,0,0,...,0,2,0,0,0,0,0,0,0,0
55,2013-05-21,0,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
56,2013-05-22,0,0,0,0,0,0,1,0,0,...,0,2,0,0,0,0,1,0,0,0
57,2013-05-23,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
58,2013-05-24,0,0,0,0,0,0,0,0,0,...,0,2,0,0,0,0,1,0,0,1
59,2013-05-25,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
60,2013-05-26,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
61,2013-05-27,0,0,0,0,0,0,0,0,0,...,0,2,0,0,0,0,0,0,0,0
62,2013-05-28,0,1,0,0,1,1,0,0,1,...,0,1,0,0,1,0,0,0,0,0
63,2013-05-29,1,1,2,1,1,2,2,1,2,...,2,2,2,2,1,1,1,2,1,1
64,2013-05-30,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
65,2013-05-31,0,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
66,2013-06-01,0,0,0,0,0,0,0,0,1,...,0,0,0,0,1,0,1,0,0,0
67,2013-06-02,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
68,2013-06-03,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
69,2013-06-04,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
70,2013-06-05,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0