In [1]:
import os, sys

cwd = os.getcwd()
module_path = os.path.abspath(os.path.join('..'))

sys.path.insert(0, os.path.join(cwd, "../"))
sys.path.insert(0, os.path.join(cwd, "../student_life/"))
sys.path.insert(0, os.path.join(cwd, "../student_life/src/"))
sys.path.insert(0, os.path.join(cwd, "../student_life/src/bin/"))

import copy
from scipy import stats
import pickle
import importlib
import src.utils.student_utils as student_utils
import src.utils.data_conversion_utils as conversion_utils
from collections import defaultdict
import geopy.distance
from sklearn.metrics.pairwise import euclidean_distances

import src.definitions as definitions
import pandas as pd
import numpy as np
from IPython.display import display
from src.data_manager import student_life_var_binned_data_manager
importlib.reload(student_life_var_binned_data_manager)
importlib.reload(student_utils)

import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline  

print(module_path)

Student ID couldn't be converted to Integer!
Student ID couldn't be converted to Integer!
/Users/nsimsiri/Documents/code/ml/MultiRes/student_life

In [2]:
import geopy.distance as euclidean_distances
COORD_DIST = lambda p1, p2: euclidean_distances.distance(p1, p2).km
from scipy.spatial import ConvexHull
from area import area
from editdistance import eval as edit_distance
from sklearn.cluster import MeanShift, estimate_bandwidth
import scipy
from datetime import datetime, timedelta
np.seterr(divide='ignore', invalid='ignore')

{'divide': 'warn', 'over': 'warn', 'under': 'ignore', 'invalid': 'warn'}

In [3]:
keyword = 'gps'
def load_features(student_id=2):
    path = "{}/data/student_life_minimal_processed_data/student_{}".format(module_path, student_id)
    if not os.path.exists(path):
        return None
    feats = {}
    for _file in os.listdir(path):
        if keyword not in _file and 'stress' not in _file: 
            continue
        feat_path = path + "/" + _file
        df = pd.read_csv(feat_path)
        print('student {} loaded feat: {}'.format(student_id, _file))      
        feat_name = _file.replace('.csv', '')
        feats[feat_name] = df
    return feats
        
    
feats = load_features(student_id=46)
print(len(feats))

student 46 loaded feat: stress_details.csv
student 46 loaded feat: gps_details.csv
2

Location Features (8 total):
 - total distance covered in a day
 - maximum 2-point displacement in a day
 - distance standard deviatio
 - number of different areas visited by tiles approximation
 - total spatial coverage by convex hull,
 - difference in sequence of tiles covered compared to previous day
 - difference in sequence of clusters visited compared to previous day
 - distance entropy

4 Temporal one-hot features 
- weekends, start of term, mid-term, end of term

https://www.ucl.ac.uk/~ucfamus/papers/digitalbiomarkers17.pdf

In [4]:
def index_time_to_df(df):
    df.loc[:, 'time'] = pd.to_datetime(df.loc[:,'time'])
    df = df.set_index('time')
    return df
location = feats['gps_details']
print(len(location))
display(location[:5])
location = index_time_to_df(location)

2645

                  time  student_id   latitude  longitude
0  2013-03-27 18:59:06          46  43.706609 -72.287028
1  2013-03-27 19:17:50          46  43.706579 -72.287030
2  2013-03-31 20:12:30          46  43.706597 -72.286990
3  2013-03-31 20:32:29          46  43.705551 -72.288619
4  2013-03-31 20:52:29          46  43.705543 -72.288652

### (1, 2) Total Distance Covered, Max Displacement

In [5]:
def to_distance(_location):
    location = _location.copy()
    location['distance'] = [0 for x in range(len(location))]

    for i in range(1, len(location)):
        row_cur = location.iloc[i]
        row_prev = location.iloc[i-1]
        p1 = (row_cur['latitude'], row_cur['longitude'])
        p2 = (row_prev['latitude'], row_prev['longitude'])
        dist = euclidean_distances.distance(p1, p2).km
        location.iloc[i, location.columns.get_loc('distance')]= dist
    return location

def get_feat_distance_covered(distance):
    # display(conversation)
    bin_freq = 1440# 24 * 60
    feats = distance['distance']
    sample_rule = '{}T'.format(bin_freq)
    aggregate = pd.DataFrame(feats.resample(sample_rule).sum())
    displacement = pd.DataFrame(feats.resample(sample_rule).max())
#     displacement = displacement.fillna(0.0)
#     displacement = displacement.ffill()
    displacement = displacement.rename(columns={'distance': "displacement"})
    return aggregate, displacement

# distance = to_distance(location)
# total_distance, max_displacement = get_feat_distance_covered(distance)
# display(max_displacement[:3])
# display(total_distance[:3])

### (3) Standard Deviation

In [6]:
def get_std_distance(distance):
    # display(conversation)
    bin_freq = 1440# 24 * 60
    feats = distance['distance']
    sample_rule = '{}T'.format(bin_freq)
    aggregate = feats.resample(sample_rule).std()
    aggregate = aggregate.ffill()
    aggregate = pd.DataFrame(aggregate)
    aggregate = aggregate.rename(columns={'distance': "distance_std"})
    return aggregate

# std_distances = get_std_distance(distance)
# display(std_distances[:3])

### (4) Spatial Tile - unique tile visited

In [7]:

def build_spatial_map(_location, bound=50):
    location = _location.copy()
    lats  = location['latitude']
    longs = location['longitude'] 
    min_lat, max_lat = lats.min(), lats.max()
    min_long, max_long = longs.min(), longs.max()
#     print("min_lat", min_lat, "max_lat", max_lat, "min_long", min_long, "max_long", max_long)
    TL = [min_lat, max_long]
    TR = [max_lat, max_long]
    BL = [min_lat, min_long]
    BR = [max_lat, min_long]
#     print(COORD_DIST(TL, TR), COORD_DIST(BL, BR), abs(COORD_DIST(TL, TR)-COORD_DIST(BL, BR)))
#     print(COORD_DIST(TL, BL), COORD_DIST(TR, BR), abs(COORD_DIST(TL, BL)-COORD_DIST(TR, BR)))
    location['area'] = ["" for x in range(len(location))]
    for i in range(len(location)):
        row = location.iloc[i]
        lat, long = row['latitude'], row['longitude']
        x_dist = COORD_DIST([lat, long], [min_lat, long])
        y_dist = COORD_DIST([lat, long], [lat, min_long])
        hash_x, hash_y = int(x_dist/bound), int(y_dist/bound)
        hash_xy = "{}-{}".format(hash_x, hash_y)
        location.iloc[i, location.columns.get_loc('area')] = hash_xy
    return location['area']

def bin_areas_by_day(areas):
    def bin_day(subset):
        tiles = subset.values
        return tiles
    sample_rule = '{}T'.format(1440)
    aggregate = areas.resample(sample_rule).apply(bin_day)
    aggregate = pd.DataFrame(aggregate)
    return aggregate

# areas = build_spatial_map(location)
# area_days = bin_areas_by_day(areas)
# display(area_days[:3])

In [8]:
def unique_tile_feats(area_days):
    out = area_days.copy()
    N = len(area_days)
    out['unique_tile_count'] = [0 for x in range(N)]
    for i in range(N):
        tile_set = set(out.iloc[i, out.columns.get_loc('area')])
        out.iloc[i, out.columns.get_loc('unique_tile_count')] = len(tile_set)
    return out
        

# unique_tiles = unique_tile_feats(area_days)
# display(unique_tiles[:5])
# print(unique_tiles.iloc[4].values)

### (5) Convex Hull

In [9]:
def convex_hull_feats(locations, bin_freq=1440):
    def bin_convex(subset):
        coords = subset[['latitude','longitude']].values
        if(len(coords)<=2):
            return 0
        hull = ConvexHull(coords)
        points = [list(hull.points[ix]) for ix in hull.vertices]
        obj = {'type':'Polygon','coordinates':[points]}
        area_result = area(obj)/100
        return area_result
    out = locations.copy()
    sample_rule = "{}T".format(bin_freq)
    out = out.resample(sample_rule).apply(bin_convex)
    out = pd.DataFrame(out)
    out = out.rename(columns={0: "convex_hull_area"})
    return out
    

# convex_areas = convex_hull_feats(location)
# display(convex_areas[:6])

### (6) difference in sequence of tiles covered compared to previous day

In [10]:
def prev_edit_dist_feats(area_days):
    N = len(area_days)
    prev_tile_changes = area_days.copy()
    prev_tile_changes['tile_change'] = [0 for i in range(N)]
    for i in range(1, N):
        cur_tiles  = prev_tile_changes.iloc[i, prev_tile_changes.columns.get_loc('area')]
        prev_tiles = prev_tile_changes.iloc[i-1, prev_tile_changes.columns.get_loc('area')]
        change = edit_distance(cur_tiles, prev_tiles)
        prev_tile_changes.iloc[i, prev_tile_changes.columns.get_loc('tile_change')] = change
    return pd.DataFrame(prev_tile_changes['tile_change'])

# tile_changes = prev_edit_dist_feats(area_days)
# display(tile_changes[:3])

### (7) difference in sequence of clusters visited compared to previous day

In [11]:
def location_cluster_feats(locations, bin_freq=1440):
    def bin_location_cluster(subset):
        X = np.array(subset['cluster'].values.tolist())
        if (len(X)<=0): 
            return 0
        ms = MeanShift()
        ms.fit(X)
        c = len(ms.cluster_centers_)
        return c
    
    out = locations.copy()
    out['cluster'] = locations[['latitude','longitude']].values.tolist()
    bin_rule = "{}T".format(bin_freq)
    out = pd.DataFrame(out.resample(bin_rule).apply(bin_location_cluster))
    out = out.rename(columns={0: "cluster"})
    return out
    
# location_cluster = location_cluster_feats(location)
# display(location_cluster[:3])

### (8) Shannon Entropy every 10 minutes per day

In [12]:
def entropy_feats(distance, bin_freq=1440):
    def bin_shannon(subset):
        x = subset['distance'].values
        entropy = scipy.stats.entropy(x)
        return entropy
    
    out = pd.DataFrame(distance['distance'].copy())
    out = out.resample("10T").sum()
    out = out.resample("{}T".format(bin_freq)).apply(bin_shannon)
    out = out.fillna(0.0)
    out = pd.DataFrame(out)
    out = out.rename(columns={0: "entropy"})
    return out
    
# display(distance)
# entropies = entropy_feats(distance)
# display(entropies[:6])

### (9-12) Temporal Features

In [13]:
TO_YEAR = lambda x: x.astype('datetime64[Y]').astype(int) + 1970
TO_MONTH = lambda x: x.astype('datetime64[M]').astype(int)  % 12 + 1
TO_DAY = lambda x: x.astype('datetime64[D]').astype(int)
def to_year_month_date(x):
    year, month, day = str(x).split('T')[0].split("-")
    year, month, day = int(year), int(month), int(day)
    return year, month, day

def is_weekend(dt64):
    y,m,d = to_year_month_date(dt64)
    x = datetime(y,m,d,0,9)
    return x.isoweekday() in [6,7]

def temporal_feats(distances):
    N = len(distances)
    out = distances.copy()
    mid_start_raw = '2013-04-15T00:00:00.000000000'#Monday, April 15, 2013
    mid_end_raw = '2013-05-06T00:00:00.000000000'# Monday, May 6, 2013
    mid_start = np.datetime64(mid_start_raw)
    mid_end   = np.datetime64(mid_end_raw)
    out['start_term'] = [0 for i in range(N)]
    out['end_term'] = [0 for i in range(N)]
    out['mid_term'] = [0 for i in range(N)]
    out['weekends'] = [0 for i in range(N)]
    for idx in out.index.values:
        weekend_col = out.columns.get_loc('weekends')
        out.at[idx,'weekends'] = int(is_weekend(idx))
        x_term_col = ""
        if (idx <= mid_start):
            x_term_col = 'start_term'
        elif (idx >= mid_end):
            x_term_col = 'end_term'
        else:
            x_term_col = 'mid_term'
        out.at[idx, x_term_col] = 1
    return out
        
        
# temporal_data = temporal_feats(total_distance)
# display(temporal_data[:5])

### stress

In [14]:
def get_stress_labels(feats, bin_freq=1440):
    def curry_apply(stress_median):
        stress_median = 2
        def bin_stress_to_classes(subset):
            stress_mean = np.mean(subset['stress_level'])
#             print(subset['stress_level'])
#             print("MEAN: " + str(stress_mean))
            if stress_mean < stress_median: 
                return 0.0
            elif stress_mean > stress_median:
                return 2.0
            elif stress_mean == stress_median:
                return 1.0
            else:
                return float('nan')
        return bin_stress_to_classes
    
    stress = feats['stress_details']
    
    stress_median = stress['stress_level'].median()
    stress = index_time_to_df(stress)
    stress_labels = stress.resample("{}T".format(bin_freq)).apply(curry_apply(stress_median))
    stress_labels = stress_labels.dropna()
    stress_labels = pd.DataFrame(stress_labels)
    stress_labels = stress_labels.rename(columns={0: "stress"})
    print("stress: {}".format(len(stress_labels)))
    return stress_labels
    
stress_labels = get_stress_labels(feats)
display(stress_labels)

stress: 22

            stress
time
2013-03-24     2.0
2013-04-01     2.0
2013-04-02     2.0
2013-04-03     0.0
2013-04-04     0.0
2013-04-05     2.0
2013-04-06     1.0
2013-04-07     2.0
2013-04-08     1.0
2013-04-09     0.0
2013-04-11     2.0
2013-04-12     1.0
2013-04-13     2.0
2013-04-15     2.0
2013-04-17     2.0
2013-04-26     2.0
2013-04-29     2.0
2013-04-30     2.0
2013-05-02     1.0
2013-05-06     2.0
2013-05-07     1.0
2013-05-09     1.0

In [15]:
import time
def build_features(feats, student_id=2):
    t0 = time.time()
    location = feats['gps_details']
    location = index_time_to_df(location)
    # 1,2,3 - basic stats
    distance = to_distance(location)
    total_distance, max_displacement = get_feat_distance_covered(distance)
    std_distances = get_std_distance(distance)
    # 4 - unique tiles
    areas = build_spatial_map(location)
    area_days = bin_areas_by_day(areas)
    unique_tiles = unique_tile_feats(area_days)
    # 5 - edit-disatance tiles
    tile_changes = prev_edit_dist_feats(area_days)
    # 6 - convex
    convex_areas = convex_hull_feats(location)
    # 7 - cluster
    location_cluster = location_cluster_feats(location)
    # 8 - entropy
    entropies = entropy_feats(distance)
    # 9,10,11,12 - temporal
    temporal_data = temporal_feats(total_distance)

    print('student {} features built: {} sec'.format(student_id, time.time()-t0))
    feature_set = pd.concat([total_distance, max_displacement, std_distances, unique_tiles, tile_changes, 
                             convex_areas, location_cluster, entropies, temporal_data], axis=1, sort=False)
    
    features_list = ['distance', 'displacement', 'distance_std', 'unique_tile_count', 'convex_hull_area',
                    'tile_change','cluster', 'entropy', 'start_term', 'end_term', 'mid_term', 'weekends'] 
    feature_set = pd.DataFrame(feature_set[features_list])
    feature_set = feature_set.loc[:,~feature_set.columns.duplicated()]
    return feature_set
    
# build_features(student_id=43)

In [16]:
# labels - stress
def build_dataset(student_id=43):
#     student_id = 43
    feats = load_features(student_id=student_id)
    if (feats is None or 'stress_details' not in feats or 'gps_details' not in feats):
        return None, None, None
    stress_labels = get_stress_labels(feats)
    features = build_features(feats, student_id = student_id)
    dataset = pd.concat([features, stress_labels], axis=1, join='inner', sort=False)
    dataset['student_id'] = [student_id for i in range(len(dataset))]
    dataset = dataset.reset_index()
#     features = []
#     dataset = []
    return dataset, features, stress_labels

# dataset, features, stress = build_dataset(student_id=43)

In [53]:
STUDENTS_LIST = [1]
STUDENTS_LIST = [1, 57, 24]
STUDENTS_LIST = [24, 57, 42, 7, 2]
STUDENTS_LIST = [24, 57, 42, 7, 2, 46, 33]
STUDENTS_LIST = [24, 57, 42, 7, 2, 46, 33, 49, 4]
STUDENTS_LIST = [1, 2,4, 7,10, 22, 24, 33, 42, 46, 49, 53, 57]
STUDENTS_LIST = list(range(1, 50))

datasets = []
all_stress = []

for sid in STUDENTS_LIST:
    dataset, _, stress_labels = build_dataset(student_id=sid)

    if stress_labels is not None:
        all_stress.append(stress_labels)
    if (dataset is None):
        continue
    print("student {} data-length: {}".format(sid, len(dataset)))
    datasets.append(dataset)
    
for sid in STUDENTS_LIST:

    dataset, _, stress_labels = build_dataset(student_id=sid)
    
    if stress_labels is not None:
        if (len(stress_labels) < 50): 
            continue
        all_stress.append(stress_labels)
    if (dataset is None):
        continue
    print("student {} data-length: {}".format(sid, len(dataset)))
    datasets.append(dataset)
    if (len(pd.concat(all_stress, axis=0)) > 1050):
        break

student 1 loaded feat: stress_details.csv
student 1 loaded feat: gps_details.csv
stress: 27
student 1 features built: 9.46382474899292 sec
student 1 data-length: 25
student 2 loaded feat: stress_details.csv
student 2 loaded feat: gps_details.csv
stress: 28
student 2 features built: 11.39131474494934 sec
student 2 data-length: 26
student 3 loaded feat: stress_details.csv
student 3 loaded feat: gps_details.csv
stress: 20
student 3 features built: 14.333063840866089 sec
student 3 data-length: 19
student 4 loaded feat: stress_details.csv
student 4 loaded feat: gps_details.csv
stress: 28
student 4 features built: 9.650556087493896 sec
student 4 data-length: 27
student 5 loaded feat: stress_details.csv
student 5 loaded feat: gps_details.csv
stress: 5
student 5 features built: 0.7642228603363037 sec
student 5 data-length: 4
student 7 loaded feat: stress_details.csv
student 7 loaded feat: gps_details.csv
stress: 20
student 7 features built: 4.599360942840576 sec
student 7 data-length: 16
student 8 loaded feat: stress_details.csv
student 8 loaded feat: gps_details.csv
stress: 40
student 8 features built: 18.86619210243225 sec
student 8 data-length: 39
student 9 loaded feat: stress_details.csv
student 9 loaded feat: gps_details.csv
stress: 4
student 9 features built: 0.6738660335540771 sec
student 9 data-length: 3
student 10 loaded feat: stress_details.csv
student 10 loaded feat: gps_details.csv
stress: 41
student 10 features built: 12.980366230010986 sec
student 10 data-length: 39
student 12 loaded feat: stress_details.csv
student 12 loaded feat: gps_details.csv
stress: 23
student 12 features built: 17.854876041412354 sec
student 12 data-length: 20
student 13 loaded feat: stress_details.csv
student 14 loaded feat: stress_details.csv
student 14 loaded feat: gps_details.csv
stress: 28
student 14 features built: 11.24929928779602 sec
student 14 data-length: 27
student 15 loaded feat: stress_details.csv
student 15 loaded feat: gps_details.csv
stress: 8
student 15 features built: 3.0440330505371094 sec
student 15 data-length: 7
student 16 loaded feat: stress_details.csv
student 16 loaded feat: gps_details.csv
stress: 55
student 16 features built: 18.830756187438965 sec
student 16 data-length: 51
student 17 loaded feat: stress_details.csv
student 17 loaded feat: gps_details.csv
stress: 36
student 17 features built: 23.845626831054688 sec
student 17 data-length: 35
student 18 loaded feat: stress_details.csv
student 18 loaded feat: gps_details.csv
stress: 14
student 18 features built: 6.956114768981934 sec
student 18 data-length: 13
student 19 loaded feat: stress_details.csv
student 19 loaded feat: gps_details.csv
stress: 56
student 19 features built: 15.44294285774231 sec
student 19 data-length: 55
student 20 loaded feat: stress_details.csv
student 20 loaded feat: gps_details.csv
stress: 9
student 20 features built: 2.5308218002319336 sec
student 20 data-length: 6
student 22 loaded feat: stress_details.csv
student 22 loaded feat: gps_details.csv
stress: 32
student 22 features built: 10.215449810028076 sec
student 22 data-length: 28
student 23 loaded feat: stress_details.csv
student 23 loaded feat: gps_details.csv
stress: 25
student 23 features built: 5.935672998428345 sec
student 23 data-length: 24
student 24 loaded feat: stress_details.csv
student 24 loaded feat: gps_details.csv
stress: 24
student 24 features built: 7.47579288482666 sec
student 24 data-length: 17
student 25 loaded feat: stress_details.csv
student 25 loaded feat: gps_details.csv
stress: 15
student 25 features built: 3.344982624053955 sec
student 25 data-length: 14
student 27 loaded feat: stress_details.csv
student 27 loaded feat: gps_details.csv
stress: 18
student 27 features built: 8.978017091751099 sec
student 27 data-length: 16
student 30 loaded feat: stress_details.csv
student 30 loaded feat: gps_details.csv
stress: 20
student 30 features built: 6.753931999206543 sec
student 30 data-length: 19
student 31 loaded feat: stress_details.csv
student 31 loaded feat: gps_details.csv
stress: 13
student 31 features built: 4.42620587348938 sec
student 31 data-length: 12
student 32 loaded feat: stress_details.csv
student 32 loaded feat: gps_details.csv
stress: 38
student 32 features built: 13.134804010391235 sec
student 32 data-length: 33
student 33 loaded feat: stress_details.csv
student 33 loaded feat: gps_details.csv
stress: 36
student 33 features built: 11.275601863861084 sec
student 33 data-length: 33
student 34 loaded feat: stress_details.csv
student 34 loaded feat: gps_details.csv
stress: 6
student 34 features built: 5.455003023147583 sec
student 34 data-length: 5
student 35 loaded feat: stress_details.csv
student 35 loaded feat: gps_details.csv
stress: 30
student 35 features built: 15.148791074752808 sec
student 35 data-length: 29
student 36 loaded feat: stress_details.csv
student 36 loaded feat: gps_details.csv
stress: 38
student 36 features built: 19.555270195007324 sec
student 36 data-length: 37
student 39 loaded feat: stress_details.csv
student 39 loaded feat: gps_details.csv
stress: 7
student 39 features built: 6.19359278678894 sec
student 39 data-length: 6
student 41 loaded feat: stress_details.csv
student 41 loaded feat: gps_details.csv
stress: 11
student 41 features built: 8.069077014923096 sec
student 41 data-length: 10
student 42 loaded feat: stress_details.csv
student 42 loaded feat: gps_details.csv
stress: 20
student 42 features built: 11.079817771911621 sec
student 42 data-length: 19
student 43 loaded feat: stress_details.csv
student 43 loaded feat: gps_details.csv
stress: 35
student 43 features built: 14.906913042068481 sec
student 43 data-length: 34
student 44 loaded feat: stress_details.csv
student 44 loaded feat: gps_details.csv
stress: 48
student 44 features built: 22.893695831298828 sec
student 44 data-length: 47
student 45 loaded feat: stress_details.csv
student 45 loaded feat: gps_details.csv
stress: 21
student 45 features built: 11.842479228973389 sec
student 45 data-length: 20
student 46 loaded feat: stress_details.csv
student 46 loaded feat: gps_details.csv
stress: 22
student 46 features built: 14.084179401397705 sec
student 46 data-length: 20
student 47 loaded feat: stress_details.csv
student 47 loaded feat: gps_details.csv
stress: 12
student 47 features built: 13.557254076004028 sec
student 47 data-length: 11
student 49 loaded feat: stress_details.csv
student 49 loaded feat: gps_details.csv
stress: 45
student 49 features built: 19.982711791992188 sec
student 49 data-length: 44
student 1 loaded feat: stress_details.csv
student 1 loaded feat: gps_details.csv
stress: 27
student 1 features built: 10.680415868759155 sec
student 2 loaded feat: stress_details.csv
student 2 loaded feat: gps_details.csv
stress: 28
student 2 features built: 11.907725811004639 sec
student 3 loaded feat: stress_details.csv
student 3 loaded feat: gps_details.csv
stress: 20
student 3 features built: 15.929288864135742 sec
student 4 loaded feat: stress_details.csv
student 4 loaded feat: gps_details.csv
stress: 28
student 4 features built: 11.015039920806885 sec
student 5 loaded feat: stress_details.csv
student 5 loaded feat: gps_details.csv
stress: 5
student 5 features built: 0.9802069664001465 sec
student 7 loaded feat: stress_details.csv
student 7 loaded feat: gps_details.csv
stress: 20
student 7 features built: 5.527613878250122 sec
student 8 loaded feat: stress_details.csv
student 8 loaded feat: gps_details.csv
stress: 40
student 8 features built: 22.0969820022583 sec
student 9 loaded feat: stress_details.csv
student 9 loaded feat: gps_details.csv
stress: 4
student 9 features built: 0.772284984588623 sec
student 10 loaded feat: stress_details.csv
student 10 loaded feat: gps_details.csv
stress: 41
student 10 features built: 15.27007007598877 sec
student 12 loaded feat: stress_details.csv
student 12 loaded feat: gps_details.csv
stress: 23
student 12 features built: 21.00688099861145 sec
student 13 loaded feat: stress_details.csv
student 14 loaded feat: stress_details.csv
student 14 loaded feat: gps_details.csv
stress: 28
student 14 features built: 13.013551950454712 sec
student 15 loaded feat: stress_details.csv
student 15 loaded feat: gps_details.csv
stress: 8
student 15 features built: 3.365841865539551 sec
student 16 loaded feat: stress_details.csv
student 16 loaded feat: gps_details.csv
stress: 55

student 16 features built: 22.22191286087036 sec
student 16 data-length: 51
student 17 loaded feat: stress_details.csv
student 17 loaded feat: gps_details.csv
stress: 36
student 17 features built: 28.559887170791626 sec
student 18 loaded feat: stress_details.csv
student 18 loaded feat: gps_details.csv
stress: 14
student 18 features built: 9.952092170715332 sec
student 19 loaded feat: stress_details.csv
student 19 loaded feat: gps_details.csv
stress: 56
student 19 features built: 19.01851797103882 sec
student 19 data-length: 55

In [54]:
# display(datasets[0][:3])
# display(datasets[1][:3])
all_dataset = pd.concat(datasets, axis=0, sort=False)
all_dataset = all_dataset.sample(frac=1)
display(len(all_dataset))
display(all_dataset)

996

,time,distance,displacement,distance_std,unique_tile_count,convex_hull_area,tile_change,cluster,entropy,start_term,end_term,mid_term,weekends,stress,student_id
17,2013-05-04,0.518930,0.009916,0.002214,1,3.904929e-01,62,1,4.729164,0,0,1,1,2.0,17
26,2013-05-07,0.900911,0.478438,0.242667,1,4.035280e+02,2,4,0.851857,0,1,0,0,2.0,33
1,2013-03-28,4.952780,0.973868,0.184717,1,1.074513e+03,12,5,2.548541,1,0,0,0,1.0,19
7,2013-04-04,6.803295,0.821175,0.181961,1,2.080496e+03,2,4,2.981978,1,0,0,0,1.0,4
2,2013-04-09,1.980282,0.498861,0.085728,1,3.586120e+02,68,5,2.577830,1,0,0,0,1.0,41
3,2013-04-04,22.018225,0.852496,0.294490,1,1.765762e+03,46,8,3.250558,1,0,0,0,0.0,46
14,2013-04-14,0.495510,0.051354,0.007967,1,3.099023e+00,1,5,3.858442,1,0,0,1,2.0,16
3,2013-04-05,32.530862,8.447365,1.643470,1,4.786963e+04,6,6,2.060716,1,0,0,0,0.0,45
20,2013-04-20,4.283737,0.822583,0.183475,1,3.631553e+02,7,3,2.313889,0,0,1,1,0.0,1
2,2013-04-05,29.023816,8.380802,1.549502,1,1.377994e+05,27,6,1.859698,1,0,0,0,1.0,34
10,2013-05-24,8.345519,3.999218,0.481434,1,1.909506e+03,29,4,1.229699,0,1,0,0,1.0,47
15,2013-04-13,187.358605,40.503711,8.658874,5,6.601503e+06,25,7,1.989330,1,0,0,1,0.0,49
2,2013-04-11,3.195451,0.884070,0.139034,1,6.928546e+02,0,5,2.339613,1,0,0,0,2.0,17
0,2013-03-31,1.232223,0.709223,0.154173,1,5.137346e+02,0,4,1.420274,1,0,0,1,0.0,34
19,2013-04-17,3.634150,0.751611,0.217359,1,1.383400e+03,46,5,2.246564,0,0,1,0,0.0,49
24,2013-05-08,11.912145,5.888555,0.968352,1,1.881964e+02,8,2,0.836655,0,1,0,0,1.0,35
40,2013-05-15,3.825979,0.618367,0.134619,1,6.408486e+02,1,7,2.747850,0,1,0,0,0.0,19
19,2013-05-23,0.227907,0.016817,0.004211,1,9.103390e-01,94,4,3.557582,0,1,0,0,2.0,12
19,2013-04-18,5.007671,0.820754,0.144607,1,8.092028e+02,0,9,2.993209,0,0,1,0,2.0,14
4,2013-04-03,3.154611,0.539840,0.107967,1,6.501204e+02,1,5,2.863722,1,0,0,0,0.0,10
18,2013-04-18,3.892088,0.755787,0.145334,1,1.091756e+03,1,5,2.594490,0,0,1,0,2.0,16
21,2013-04-21,1.584717,0.442427,0.087881,1,4.028966e+01,0,2,2.028547,0,0,1,1,2.0,16
51,2013-05-26,0.656154,0.101994,0.014935,1,1.187262e+01,0,4,3.565496,0,1,0,1,2.0,19
21,2013-04-26,23.326641,9.913637,1.431450,1,2.767326e+04,1,3,1.662257,0,0,1,0,1.0,1
19,2013-04-15,3.944091,0.791223,0.158711,1,1.720338e+03,0,7,2.447832,1,0,0,0,2.0,8
2,2013-03-29,5.724897,1.001148,0.208700,1,1.406525e+03,1,6,2.583610,1,0,0,0,1.0,1
6,2013-04-04,4.966976,0.853658,0.172940,1,1.311051e+03,1,6,2.593192,1,0,0,0,2.0,2
39,2013-05-14,0.678172,0.128754,0.014549,1,3.443268e+00,1,2,3.903295,0,1,0,0,2.0,16
2,2013-04-01,3.465275,0.558843,0.136989,1,9.829313e+02,1,6,2.462307,1,0,0,0,0.0,10
32,2013-05-21,192.753074,32.452328,5.002120,5,1.789452e+07,30,13,2.563945,0,1,0,0,1.0,43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6,2013-04-11,5.014406,0.878676,0.172773,1,1.625637e+03,6,5,2.891652,1,0,0,0,0.0,30
36,2013-05-18,1.946213,0.550005,0.061171,1,3.812657e+02,2,3,2.573325,0,1,0,1,0.0,49
14,2013-05-06,30.000294,8.542819,1.602824,1,4.005530e+04,44,5,1.894980,0,1,0,0,1.0,45
6,2013-04-04,5.015561,0.829389,0.165041,1,9.467613e+02,0,4,2.768222,1,0,0,0,2.0,14
21,2013-04-28,3.710915,0.412247,0.101369,1,6.286715e+02,5,7,3.015663,0,0,1,1,2.0,4
18,2013-04-18,3.892088,0.755787,0.145334,1,1.091756e+03,1,5,2.594490,0,0,1,0,2.0,16
32,2013-05-28,2.490244,0.427924,0.066320,1,4.416540e+02,1,5,2.772678,0,1,0,0,2.0,17
2,2013-03-30,1.340491,0.493206,0.076271,1,2.404838e+02,7,4,1.956997,1,0,0,1,2.0,24
1,2013-04-02,2.084177,0.371121,0.076234,1,2.365018e+02,47,3,2.895494,1,0,0,0,1.0,43
6,2013-04-06,43.562394,12.375924,1.944166,1,2.578966e+05,64,7,2.396576,1,0,0,1,2.0,12
12,2013-04-11,3.233641,0.508807,0.101726,1,3.734943e+02,1,6,3.055402,1,0,0,0,2.0,14
31,2013-05-05,0.794555,0.065526,0.010386,1,9.871708e+00,59,7,4.171244,0,0,1,1,2.0,16
15,2013-04-15,2.053636,0.763747,0.108779,1,1.171299e+02,0,4,2.311205,1,0,0,0,2.0,16
40,2013-05-20,5.345727,2.301022,0.378339,1,3.564450e+02,15,2,1.556031,0,1,0,0,1.0,44
23,2013-05-07,14.032026,6.169119,1.069133,1,9.043075e+03,3,5,1.247227,0,1,0,0,0.0,35
14,2013-04-20,5.271919,2.311155,0.379997,1,3.551150e+02,0,4,1.462193,0,0,1,1,1.0,44
50,2013-05-25,1.593203,0.191127,0.044728,1,2.681858e+01,0,3,3.154151,0,1,0,1,2.0,19
9,2013-04-10,2.005767,0.710854,0.104044,1,5.876457e+02,3,4,2.231630,1,0,0,0,1.0,35
14,2013-04-12,3.955416,0.993625,0.176568,1,1.205672e+03,3,5,2.346130,1,0,0,0,1.0,1
1,2013-03-31,12.990694,6.380963,1.059459,1,5.152809e+02,13,2,0.850330,1,0,0,1,1.0,36
2,2013-04-01,21.590737,7.409667,1.226430,2,2.384464e+04,25,6,1.970293,1,0,0,0,0.0,12
9,2013-04-09,38.101295,18.755901,5.141213,1,2.258257e+04,47,2,0.818845,1,0,0,0,1.0,16
15,2013-04-11,2.107813,0.438339,0.075891,1,4.173093e+02,1,5,2.856026,1,0,0,0,1.0,8
2,2013-03-30,2.783769,0.688112,0.137763,1,6.385349e+02,2,4,2.247168,1,0,0,1,1.0,33
16,2013-04-18,2.243811,0.644733,0.108404,1,7.742224e+02,0,4,2.274359,0,0,1,0,2.0,24
9,2013-04-15,12.663025,3.015158,0.685538,1,4.197413e+02,7,6,1.741569,1,0,0,0,1.0,31
1,2013-03-29,2.997783,0.619614,0.137703,1,2.514438e+02,3,3,2.302655,1,0,0,0,2.0,24
11,2013-04-08,7.147576,2.557419,0.400569,1,3.390383e+03,1,3,1.954716,1,0,0,0,2.0,19
2,2013-03-29,3.376034,0.652511,0.127207,1,5.981281e+02,0,5,2.637764,1,0,0,0,2.0,8
29,2013-05-02,4.775732,0.913358,0.163396,1,8.354670e+02,0,4,2.729928,0,0,1,0,2.0,19

In [55]:
data_path = module_path + "/data"
file_path = data_path + "/gatis-old-{}.pkl".format(len(STUDENTS_LIST))
print(file_path)
print(os.path.exists(data_path))
all_dataset.to_pickle(file_path)

/Users/nsimsiri/Documents/code/ml/MultiRes/student_life/data/gatis-old-49.pkl
True

In [56]:
mm = pd.read_pickle(file_path)
display(mm)

,time,distance,displacement,distance_std,unique_tile_count,convex_hull_area,tile_change,cluster,entropy,start_term,end_term,mid_term,weekends,stress,student_id
17,2013-05-04,0.518930,0.009916,0.002214,1,3.904929e-01,62,1,4.729164,0,0,1,1,2.0,17
26,2013-05-07,0.900911,0.478438,0.242667,1,4.035280e+02,2,4,0.851857,0,1,0,0,2.0,33
1,2013-03-28,4.952780,0.973868,0.184717,1,1.074513e+03,12,5,2.548541,1,0,0,0,1.0,19
7,2013-04-04,6.803295,0.821175,0.181961,1,2.080496e+03,2,4,2.981978,1,0,0,0,1.0,4
2,2013-04-09,1.980282,0.498861,0.085728,1,3.586120e+02,68,5,2.577830,1,0,0,0,1.0,41
3,2013-04-04,22.018225,0.852496,0.294490,1,1.765762e+03,46,8,3.250558,1,0,0,0,0.0,46
14,2013-04-14,0.495510,0.051354,0.007967,1,3.099023e+00,1,5,3.858442,1,0,0,1,2.0,16
3,2013-04-05,32.530862,8.447365,1.643470,1,4.786963e+04,6,6,2.060716,1,0,0,0,0.0,45
20,2013-04-20,4.283737,0.822583,0.183475,1,3.631553e+02,7,3,2.313889,0,0,1,1,0.0,1
2,2013-04-05,29.023816,8.380802,1.549502,1,1.377994e+05,27,6,1.859698,1,0,0,0,1.0,34
10,2013-05-24,8.345519,3.999218,0.481434,1,1.909506e+03,29,4,1.229699,0,1,0,0,1.0,47
15,2013-04-13,187.358605,40.503711,8.658874,5,6.601503e+06,25,7,1.989330,1,0,0,1,0.0,49
2,2013-04-11,3.195451,0.884070,0.139034,1,6.928546e+02,0,5,2.339613,1,0,0,0,2.0,17
0,2013-03-31,1.232223,0.709223,0.154173,1,5.137346e+02,0,4,1.420274,1,0,0,1,0.0,34
19,2013-04-17,3.634150,0.751611,0.217359,1,1.383400e+03,46,5,2.246564,0,0,1,0,0.0,49
24,2013-05-08,11.912145,5.888555,0.968352,1,1.881964e+02,8,2,0.836655,0,1,0,0,1.0,35
40,2013-05-15,3.825979,0.618367,0.134619,1,6.408486e+02,1,7,2.747850,0,1,0,0,0.0,19
19,2013-05-23,0.227907,0.016817,0.004211,1,9.103390e-01,94,4,3.557582,0,1,0,0,2.0,12
19,2013-04-18,5.007671,0.820754,0.144607,1,8.092028e+02,0,9,2.993209,0,0,1,0,2.0,14
4,2013-04-03,3.154611,0.539840,0.107967,1,6.501204e+02,1,5,2.863722,1,0,0,0,0.0,10
18,2013-04-18,3.892088,0.755787,0.145334,1,1.091756e+03,1,5,2.594490,0,0,1,0,2.0,16
21,2013-04-21,1.584717,0.442427,0.087881,1,4.028966e+01,0,2,2.028547,0,0,1,1,2.0,16
51,2013-05-26,0.656154,0.101994,0.014935,1,1.187262e+01,0,4,3.565496,0,1,0,1,2.0,19
21,2013-04-26,23.326641,9.913637,1.431450,1,2.767326e+04,1,3,1.662257,0,0,1,0,1.0,1
19,2013-04-15,3.944091,0.791223,0.158711,1,1.720338e+03,0,7,2.447832,1,0,0,0,2.0,8
2,2013-03-29,5.724897,1.001148,0.208700,1,1.406525e+03,1,6,2.583610,1,0,0,0,1.0,1
6,2013-04-04,4.966976,0.853658,0.172940,1,1.311051e+03,1,6,2.593192,1,0,0,0,2.0,2
39,2013-05-14,0.678172,0.128754,0.014549,1,3.443268e+00,1,2,3.903295,0,1,0,0,2.0,16
2,2013-04-01,3.465275,0.558843,0.136989,1,9.829313e+02,1,6,2.462307,1,0,0,0,0.0,10
32,2013-05-21,192.753074,32.452328,5.002120,5,1.789452e+07,30,13,2.563945,0,1,0,0,1.0,43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6,2013-04-11,5.014406,0.878676,0.172773,1,1.625637e+03,6,5,2.891652,1,0,0,0,0.0,30
36,2013-05-18,1.946213,0.550005,0.061171,1,3.812657e+02,2,3,2.573325,0,1,0,1,0.0,49
14,2013-05-06,30.000294,8.542819,1.602824,1,4.005530e+04,44,5,1.894980,0,1,0,0,1.0,45
6,2013-04-04,5.015561,0.829389,0.165041,1,9.467613e+02,0,4,2.768222,1,0,0,0,2.0,14
21,2013-04-28,3.710915,0.412247,0.101369,1,6.286715e+02,5,7,3.015663,0,0,1,1,2.0,4
18,2013-04-18,3.892088,0.755787,0.145334,1,1.091756e+03,1,5,2.594490,0,0,1,0,2.0,16
32,2013-05-28,2.490244,0.427924,0.066320,1,4.416540e+02,1,5,2.772678,0,1,0,0,2.0,17
2,2013-03-30,1.340491,0.493206,0.076271,1,2.404838e+02,7,4,1.956997,1,0,0,1,2.0,24
1,2013-04-02,2.084177,0.371121,0.076234,1,2.365018e+02,47,3,2.895494,1,0,0,0,1.0,43
6,2013-04-06,43.562394,12.375924,1.944166,1,2.578966e+05,64,7,2.396576,1,0,0,1,2.0,12
12,2013-04-11,3.233641,0.508807,0.101726,1,3.734943e+02,1,6,3.055402,1,0,0,0,2.0,14
31,2013-05-05,0.794555,0.065526,0.010386,1,9.871708e+00,59,7,4.171244,0,0,1,1,2.0,16
15,2013-04-15,2.053636,0.763747,0.108779,1,1.171299e+02,0,4,2.311205,1,0,0,0,2.0,16
40,2013-05-20,5.345727,2.301022,0.378339,1,3.564450e+02,15,2,1.556031,0,1,0,0,1.0,44
23,2013-05-07,14.032026,6.169119,1.069133,1,9.043075e+03,3,5,1.247227,0,1,0,0,0.0,35
14,2013-04-20,5.271919,2.311155,0.379997,1,3.551150e+02,0,4,1.462193,0,0,1,1,1.0,44
50,2013-05-25,1.593203,0.191127,0.044728,1,2.681858e+01,0,3,3.154151,0,1,0,1,2.0,19
9,2013-04-10,2.005767,0.710854,0.104044,1,5.876457e+02,3,4,2.231630,1,0,0,0,1.0,35
14,2013-04-12,3.955416,0.993625,0.176568,1,1.205672e+03,3,5,2.346130,1,0,0,0,1.0,1
1,2013-03-31,12.990694,6.380963,1.059459,1,5.152809e+02,13,2,0.850330,1,0,0,1,1.0,36
2,2013-04-01,21.590737,7.409667,1.226430,2,2.384464e+04,25,6,1.970293,1,0,0,0,0.0,12
9,2013-04-09,38.101295,18.755901,5.141213,1,2.258257e+04,47,2,0.818845,1,0,0,0,1.0,16
15,2013-04-11,2.107813,0.438339,0.075891,1,4.173093e+02,1,5,2.856026,1,0,0,0,1.0,8
2,2013-03-30,2.783769,0.688112,0.137763,1,6.385349e+02,2,4,2.247168,1,0,0,1,1.0,33
16,2013-04-18,2.243811,0.644733,0.108404,1,7.742224e+02,0,4,2.274359,0,0,1,0,2.0,24
9,2013-04-15,12.663025,3.015158,0.685538,1,4.197413e+02,7,6,1.741569,1,0,0,0,1.0,31
1,2013-03-29,2.997783,0.619614,0.137703,1,2.514438e+02,3,3,2.302655,1,0,0,0,2.0,24
11,2013-04-08,7.147576,2.557419,0.400569,1,3.390383e+03,1,3,1.954716,1,0,0,0,2.0,19
2,2013-03-29,3.376034,0.652511,0.127207,1,5.981281e+02,0,5,2.637764,1,0,0,0,2.0,8
29,2013-05-02,4.775732,0.913358,0.163396,1,8.354670e+02,0,4,2.729928,0,0,1,0,2.0,19

In [57]:
ss = pd.concat(all_stress, axis=0)
ss['count'] = [1 for i in range(len(ss))]
# display(ss)
rss = ss.groupby('stress').sum()
print(rss)
print(rss['count'].sum())

res = rss.values/rss.sum().values[0]
print(res)

print('median: ', ss.median() )

        count
stress
0.0       285
1.0       373
2.0       411
1069
[[0.2666043 ]
 [0.34892423]
 [0.38447147]]
median:  stress    1.0
count     1.0
dtype: float64